.event {
  padding: 15px;
  border-radius: 0 10px 10px 10px;
  background-color: powderblue;

  &--mine {
    background-color: salmon;
  }
}

.event[data-type='Workout'] {
  background-color: paleturquoise;
}

.event[data-type='Milestone'] {
  background-color: gold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.name {
  text-transform: capitalize;
  font-weight: 700;
}

.meta {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: calc(12rem / 16);
  line-height: calc(12rem / 16);

  gap: 5px;
}

.date {
  white-space: nowrap;
}

.user {
  text-transform: capitalize;
  font-weight: 700;
}

// .table {
//   margin-top: 20px;
//   width: 100%;
// }

// .key {
//   padding-right: 30px;
// }

// .value {
//   text-align: right;
// }
