.event {
  --color: powderblue;
  --options-width: 59px;

  height: var(--options-width);
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  user-select: none;
  background-color: var(--color);
  border-left: 15px solid var(--color);
  border-radius: 10px;
  transition:
    height var(--rapid),
    margin var(--rapid);
  -webkit-tap-highlight-color: transparent;

  &--mine {
    --color: salmon;

    cursor: pointer;
  }

  &--deleted {
    height: 0;
    margin-top: -5px;
    margin-bottom: -5px;

    & + .event--deleted {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100% var(--options-width);
  gap: 15px;
  width: 100%;
  padding: 15px 15px 15px 0;
  transition: transform var(--rapid);

  .event--show-options & {
    transform: translateX(calc(var(--options-width) * -1));
  }
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: 700;
  text-transform: capitalize;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: calc(12rem / 16);
  line-height: calc(12rem / 16);
  text-align: right;
}

.date {
  white-space: nowrap;
}

.user {
  font-weight: 700;
  text-transform: capitalize;
}

.options {
  box-sizing: border-box;
  width: var(--options-width);
  margin-top: -15px;
  margin-bottom: -15px;
  text-align: right;
  background-color: mediumaquamarine;
  transition: background-color var(--fast);

  &--warning {
    background-color: rgb(255 204 0);
  }

  & > svg {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    padding: 15px;
  }
}
