.event {
  --color: powderblue;
  --options-width: 59px;

  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  height: var(--options-width);
  border-left: 15px solid var(--color);
  border-radius: 0 10px 10px 10px;
  background-color: var(--color);

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &--mine {
    --color: salmon;

    cursor: pointer;
  }

  &--deleted {
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    transition: transform var(--fast), height var(--rapid) var(--fast),
      margin var(--rapid) var(--fast);
    transform: translateX(-110%);
  }
}

.container {
  display: grid;
  box-sizing: border-box;
  padding: 15px 15px 15px 0;
  width: 100%;
  transition: transform var(--rapid);

  grid-template-columns: 100% var(--options-width);
  gap: 15px;

  .event--show-options & {
    transform: translateX(calc(var(--options-width) * -1));
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.name {
  text-transform: capitalize;
  font-weight: 700;
}

.meta {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: calc(12rem / 16);
  line-height: calc(12rem / 16);

  gap: 5px;
}

.date {
  white-space: nowrap;
}

.user {
  text-transform: capitalize;
  font-weight: 700;
}

.options {
  box-sizing: border-box;
  margin-top: -15px;
  margin-bottom: -15px;
  width: var(--options-width);
  background-color: mediumaquamarine;
  text-align: right;

  & > svg {
    box-sizing: border-box;
    padding: 15px;
    width: auto;
    height: 100%;
  }
}
