/* TODO: Clean up fonts - Remove unused fonts */

/* IBM Plex Sans */

@font-face {
  font-weight: 100;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-thin-webfont.woff2);
}
@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-thinitalic-webfont.woff2);
}

@font-face {
  font-weight: 200;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-extralight-webfont.woff2);
}
@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-extralightitalic-webfont.woff2);
}

@font-face {
  font-weight: 300;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-light-webfont.woff2);
}
@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-lightitalic-webfont.woff2);
}

@font-face {
  font-weight: 400;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-regular-webfont.woff2);
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-italic-webfont.woff2);
}

@font-face {
  font-weight: 500;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-medium-webfont.woff2);
}
@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-mediumitalic-webfont.woff2);
}

@font-face {
  font-weight: 600;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-semibold-webfont.woff2);
}
@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-semibolditalic-webfont.woff2);
}

@font-face {
  font-weight: 700;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-bold-webfont.woff2);
}
@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'IBM Plex Sans';
  src: url(../../fonts/ibmplexsans-bolditalic-webfont.woff2);
}

/* IBM Plex Mono */

/* @font-face {
  font-weight: 500;
  font-family: 'IBM Plex Mono';
  src: url(../../fonts/ibmplexmono-thin-webfont.woff2);
}
@font-face {
  font-weight: 500;
  font-family: 'IBM Plex Mono';
  src: url(../../fonts/ibmplexmono-thinitalic-webfont.woff2);
} */
