/* Section */
.section {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-size);
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  margin-top: 20px;
}

.section:first-of-type {
  margin-top: 0;
}

.section:last-of-type .button:not([priority='secondary']) {
  margin-top: 30px;
}

.section [spacing='narrow'] {
  margin-top: 0;
}
