/* Container */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 100%;
}

.container[is-first-on-page='true'] {
  margin-top: 0;
}

/* Group */
.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  max-width: calc(100% - (var(--spacing) * 2));
  width: 500px;
}

.group:first-of-type {
  margin-top: 0;
}

.group .section {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  width: calc((100% / 2) - (var(--spacing) / 2));
}

/* Section */
.section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 20px;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  max-width: var(--max-size);
  width: 100%;
}

.section:first-of-type {
  margin-top: 0;
}

.section:last-of-type .button:not([priority='secondary']) {
  margin-top: 30px;
}

.section [spacing='narrow'] {
  margin-top: 0;
}
