.heading {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: calc(24rem / 16);
  line-height: calc(32rem / 16);
  text-align: center;
  text-transform: capitalize;
  text-transform: uppercase;
  word-spacing: var(--word-spacing-spacious);
  letter-spacing: var(--letter-spacing-spacious);
}
