.form {
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-left: 4px;

  /* font-weight: 500; */
  font-size: calc(16rem / 16);
  line-height: calc(24rem / 16);
  color: inherit;
  background-color: transparent;
  border: none;
}

.input:focus {
  outline: none;
}

.file {
  display: none;
}

.file + .label {
  cursor: pointer;
}

.imageLabel {
  width: 50%;
  max-width: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.label {
  display: block;
  width: 100%;
}

.labelText {
  position: absolute;
  top: 20px;
  left: 0;
  padding-left: 6px;

  /* font-weight: 100; */
  font-size: calc(16rem / 16);
  line-height: calc(24rem / 16);
  color: var(--text-bright);
  letter-spacing: var(--letter-spacing-spacious);
  pointer-events: none;
  cursor: text;
  transform-origin: 0 50%;
  transition: transform var(--rapid);
}

.labelLine {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--stroke);
}

.labelLine::before,
.labelLine::after {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--rapid) var(--rapid);
}

.labelLine::before {
  background-color: var(--primary-color);
}

.labelLine::after {
  background-color: red;
}

.input:focus + .label .labelLine::before {
  transform: scaleX(1);
  will-change: transform;
}

.input:focus + .label .labelText,
.input:not(:placeholder-shown) + .label .labelText {
  transform: translateY(-100%) scale(0.875);
}

/* If input field has not been filled out */
.input:placeholder-shown + .label .labelText,
.input:placeholder-shown + .label .labelLine {
  will-change: transform;
}

/* Errors */

.error {
  visibility: hidden;
  width: 100%;
  min-height: calc(2 * (16rem / 16));
  margin-left: 11px;
  font-size: calc(12rem / 16);
  line-height: calc(16rem / 16);
  color: red;
}

.error[data-show-error='true'] {
  visibility: visible;
}

.input:invalid {
  /* Reset default styling */
  box-shadow: none;

  /* Reset default styling - END */
}

.input:invalid + .label .labelLine::after {
  transform: scaleX(1);
  will-change: transform;
}
