body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--text);
  letter-spacing: var(--letter-spacing-tight);
  background: var(--background);
}

body {
  color: var(--text);
  background-color: var(--background);
}
