.header {
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff6c55;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

// .item {
// }

.link {
  position: relative;
  padding: 10px;
  font-weight: 700;
  color: #62355c;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  
  .underline {
    position: absolute;
    bottom: 4px;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #62355c;
  }
}