.container {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.measurer {
  position: absolute;
  width: 10px;
  height: 30vh;
}

.sticky {
  position: sticky;
  top: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.icon {
  z-index: 1;
  transition: height .1s, width .1s;
}

.animateOut {
  opacity: 0;
  transition: opacity .5s .1s, transform .5s .1s, height .1s, width .1s;
  transform: scale(1.5);
}

.shadowIcon {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 0 30px inset rgba(0,0,0,.025);
}