.button {
  --button-color: white;
  --button-background: var(--primary-color);
  --button-background-hover: var(--primary-color--darker);
  --button-background-disabled: var(--text-bright);

  display: inline-block;
  width: 100%;
  max-width: var(--form-size);
  padding: 16px 30px;
  font-size: calc(14rem / 16);
  font-weight: 700;
  line-height: calc(18rem / 16);
  color: var(--button-color);
  text-transform: uppercase;
  word-spacing: var(--word-spacing-spacious);
  letter-spacing: var(--letter-spacing-spacious);
  cursor: pointer;
  user-select: none;
  background-color: var(--button-background);
  border: none;
  border-radius: 4px;
  transition:
    transform var(--rapid),
    background-color var(--rapid);
  -webkit-tap-highlight-color: transparent;
}

.button:not([priority='secondary']) + .button {
  margin-top: 10px;
}

.button[data-priority='secondary'] {
  padding: 8px 20px;
  font-size: calc(14rem / 16);
  line-height: calc(18rem / 16);
  color: var(--text);
  text-transform: none;
  text-decoration: underline;
  background-color: transparent;
  border-radius: 0;
}

.button:active {
  transform: scale(0.98);
  transition: transform var(--rapid);
}

.button:not([data-priority='secondary']):hover,
.button:not([data-priority='secondary']):focus {
  outline: none;
  background-color: var(--button-background-hover);
  transition: background-color var(--rapid);
}

.button::-moz-focus-inner {
  border: 0;
}

.button:not([data-priority='secondary']):disabled {
  cursor: default;
  background-color: var(--button-background-disabled);
}

.button[data-priority='secondary']:disabled {
  color: var(--stroke);
  cursor: default;
}
