.container {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--form-size);
  padding-top: 10px;
  padding-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 4px;
  margin-left: 4px;
  font-size: calc(12rem / 16);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-spacious);
}

.input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: calc(18rem / 16);
  line-height: calc(24rem / 16);
  letter-spacing: 1px;
  border: 2px solid #eee;
  border-radius: 4px;
  transition: transform var(--rapid);

  &:focus {
    outline: none;
    border-color: #ff6c55;
    transform: scale(1.02);
  }

  &--error {
    border-color: var(--error-color);
  }
}

.error {
  min-height: calc(18rem / 16);
  margin: 4px 4px 0;
  font-size: calc(12rem / 16);
  font-weight: 700;
  line-height: calc(18rem / 16);
  color: var(--error-color);
  text-transform: uppercase;
  word-spacing: var(--word-spacing-spacious);
  letter-spacing: var(--letter-spacing-spacious);
}
