.container {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  font-family: var(--font-family-mono);
  font-size: calc(18rem / 16);
  font-weight: 500;
  line-height: calc(22rem / 16);
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.shadowCounter {
  position: relative;
  visibility: hidden;
}